@import "tailwindcss";

@layer utilities {
  .pt-safe {
    padding-top: env(safe-area-inset-top);
  }
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
  .px-safe {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }
}

@theme inline {
  --font-sans: var(--font-inter);
}

@theme {
  --color-accent: #84C49C;
}